/* DiseaseInfoPage styles */
.disease-info-page {
  max-width: 800px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.disease-info-page .heading-primary {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: #ff69b4;
}

.disease-info-page .subheading-primary {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff69b4;
}
.disease-info-page .subheading-primary-what {
  font-size: 24px;
  margin-bottom: 20px;
}

.disease-info-page .subheading-primary-what > span {
  color: #ff69b4;
}

.disease-info-page .text-primary {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.disease-info-page .list-unstyled {
  margin-bottom: 20px;
}

.disease-info-page .list-unstyled li:before {
  content: "*";
  color: #ff69b4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  align-self: center;
  /* margin-left: -1em; */
}

.disease-info-page .list-unstyled li {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
  align-self: center;
}
