/* LandingPage styles */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.landing-page .heading-primary {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  color: #ff69b4;
}

.landing-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page label {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  box-shadow: 2px 2px 1px 2px #ff69b4;
  padding: 10px;
  border-radius: 5px;
}
.landing-page .prediction {
  color: green;
}

.landing-page .prediction .prediction-detail > span {
  color: #ff69b4;
}

.landing-page .prediction .prediction-detail {
  font-size: 24px;
}

.landing-page .prediction {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.landing-page .prediction h2{
  text-align: center;
  color: #333;
}

.landing-page input[type="file"] {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.landing-page button[type="submit"],
.landing-page button[type="button"] {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff69b4;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.landing-page button[type="submit"]:hover,
.landing-page button[type="button"]:hover {
  background-color: #e64e83;
}
